#main-content {
    height: inherit;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.first-block, .second-block {
    grid-row: span 2;
}

.first-block {
    grid-area: 1 / 2 / 3 / -1;
    background-color: var(--cyan-block);
}

.second-block {
    grid-area: 3 / 1 / 5 / 1;
    background-color: var(--yellow-block);
}

.third-block {
    grid-area: 5 / 1 / -1 / -1;
    background-color: var(--dark-grey-blue-block);
}

.first-block, .third-block {
    border: var(--border);
}

.second-block {
    border: var(--border);
    border-bottom: none;
}

div[class^="empty"] {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.empty_1 {
    grid-area: 1 / 1 / 3 / 2;
}

.empty_2 {
    grid-area: 3 / 2 / 5 / -1;
}